/* .Card {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  border: 6px solid white;
  height: 50px;
  width: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
}

.Card fa-spinner {
  font-size: 180px;
  position: absolute;
  left: 25%;
  top: 25%;
} */
.Card {
  background: #fff;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.Card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  background: #cb6cdc;
}
.Card > .img-container > img {
  width: 60%;
}

.Card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.Card > .content > ul {
  list-style-type: none;
}

.Card > .content > ul > li {
  margin-top: 18px;
}

.Card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.Card > .remove:hover {
  color: #d50000;
}
